<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :value %>
    <%= form.text_field :value %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :obs %>
    <%= form.text_area :obs %>
  </div>

  <div class="field">
    <%= form.label :qtd %>
    <%= form.number_field :qtd %>
  </div>

  <div class="field">
    <%= form.label :bill_id %>
    <%= form.text_field :bill_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
